.timeSlots{
    text-align: center;
}

.grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-noSelect{
    margin: auto;
    /* align-self: center; */
    text-align: center;
    /* align-content: center; */
    width: 50%;
}

.grid > div {
    padding: 8px 4px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
}

.grid-noSelect > div {
    padding: 8px 4px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
}

.grid > div:hover {
    transform: scale(1.2);
    background: #E8E8E8;
}

.selectedSlot {
    background: #BEBEBE !important;
}

.time{
    font-size: 24px;
    font-weight: bold;
}

.date{
    font-size: 20px;
}

.dateDropdown{
    margin: auto;
    width: 5%;
}

.dateCheckBox{
    float: right;
    margin: auto;
    text-align: center;
}

.centreClass {
    margin: auto;
    width: 50%;
    margin: auto;
    text-align: center;
}

.row{
    margin-bottom: 3rem;
}

input[type=checkbox] {
    transform: scale(1.5);
}

button{
    margin-right: 10px;
}